html, body{ 
 margin:0px; 
 padding:0px;
 min-width: 1000px;
 } 
 
#pagewidth{ }
 
.header{
 position:relative; 
 height:120px; 
 background-color:#BAE8FF; 
 width:100%;
 display:block;
 overflow:auto;
 padding-top: 0px;
 overflow: hidden;
 -moz-border-radius: 15px;
 border-radius: 15px;
} 
 
.menu{
 height: 564px;
 width:15%; 
 float:left; 
 position:relative; 
 background-color:#BAE8FF;
 padding-left:8px; 
 -moz-border-radius: 15px;
 border-radius: 15px;
 }
  
.graphs {
 background-color:white;
 width: 82%;
 position: relative;
 float:right;
 padding: 10px; 
 border-left-style: solid;
 border-left-color: grey;
 border-left-width: 2px;
 border-top-style: solid;
 border-top-color:grey;
 border-top-left-radius: 15px;
 }
 
 
.graph { 
 height:188px; 
}

 .container{
 background-color:#BAE8FF;
 width: 100%;
 height: 100%;
 }
 
 
.footer{
 height:5%; 
 background-color:#E8F7FF; 
 clear:both;
 display:block;
 overflow:auto;
 padding:10px;
 border-top-style:solid;
 border-top-width:2px;
 border-color: grey;
 
} 

.email{
    position:absolute;
    bottom:0;
}

.AMClogo{
    display: block;
    float: left;
    margin-right: 10px;
}
 
.uitlegblokje{
    border-style:dotted;
    background-color:#E8F7FF;
    visibility: hidden;
}

.feedsyslogo {
    float: right;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
    text-align: center;
}

.version {
    float: right;
    color: #999;
}
 
/* ******************************************************************** */ 
/* Clearfix: http://csscreator.com/attributes/containedfloat.php        */
/* ******************************************************************** */
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


 
 
/* ******************************************************************** */ 
/*                      printer styles                                  */ 
/* ******************************************************************** */ 
     
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}

