

body 
{
background-color:#F0F0F0; 
font-family: "Gill", "Helvetica", "sans-serif";
}

h1 
{
color:#000066;
font-family: "Gill", Helvetica, sans-serif; 
text-align:center; 
margin-bottom:0
}

h2 
{
color:#000066; 
font-family:"calibri";
}



