
.container
{
heigth:830px;
width:1000px;
border-style:ridge;
border-color:black;
margin-left:300px;
}

.header
{
background-color:#FFA500;
heigth:30px;
}

.menu
{
height:750px;
width:200px;
float:left;
}

.content1
{
background-color:#EEEEEE;
height:250px;
width:800px;
float:left;
}

.content2
{
background-color:red;
height:250px;
width:800px;
float:left;
}

.content3
{
background-color:green;
height:250px;
width:800px;
float:left;
}

.footer
{
background-color:yellow;
height:50px;
width:1000px;
float:left;
}